$primaryColor: #1b2b2b;
$lighterSecondColor: #ec7459;
$secondColor: #f85d37;
$darkerSecondColor: #cb4532;
$grayColor: #939393;
$lighterGray: #b3bbb9;
$darkBlue: #232b3b;
$lightCream: #f3ca9b;
$darkCream: #c2a27e;
$yellow: #f7c21e;
