.page_404 {
  width: 80%;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}
.page_404 img {
  width: 100%;
}
.four_zero_four_bg h1 {
  font-size: 80px;
  margin-bottom: 0;
}
.main-part {
  display: flex;
  justify-content: center;
}
